@font-face {
  font-family: "FOT-RodinWanpaku Pro EB"; 
  src: url("/fonts/FOT-RodinWanpaku Pro EB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "FOT-RodinWanpaku Pro EB" !important;
}